<div class="container">
<h1>Mass Messages</h1>

<table class="table table-striped table-dark table-responsive table-bordered">
  <thead>
    <tr>
      <th>Message</th>
      <th>Time Sent</th>
      <th>Users Reached</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.body %></td>
        <td><%= message.created_at %></td>
        <td><%= message.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @users.count > 0 %>
  <div class="btn btn-primary">
    <%= link_to 'New Message', new_message_path %>
  </div>
  <% else %>
  <div class="jumbotron">
    <h1>Unable to create messages. You do not have any active users, who allow SMS.</h1>
  </div>
  <% end %>

</div>