<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @church.name %> Media Release Reminder</h1>
    <p>
      <%= @message %>
    </p>
  
  </body>
</html>