<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="https://ctpodemo.lolconcepts.com/apple-touch-icon.png">
    <h1><%= @user.name %>, We haven't seen you lately.</h1>
    <p>
      <%= @message.html_safe() %>
    </p>
  
  </body>
</html>