<div class="">
	<div>
		<img src="">
		<span>Cloud Congregation</span>
	</div>
	<div>
		<img src="">
		<span>Pastor John Stamos</span>
		<span><img src="">Connected</span>
	</div>
</div>
<div class="">
	<p>This is a test message</p>
	<span>Jimmy Spits</span>
</div>