<p id="notice"><%= notice %></p>


<% if !@checkin_hash.empty? %> 
  <% @checkin_hash.each do |k,v| %>
    <div class="card m-12">
      <div class="card-header">
        <% if k %>
              In-Person Worship - <%=time_ago_in_words Date.strptime(k, '%m/%d/%Y') %> ago
        <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= link_to k,list_url(for: k) %></h5>
        <p class="card-text">Triggering an alert below will notify attendees to contact the church office telephone number on file.</p>
        <%= link_to "Alert #{v} Attendees", alert_path(:d => k), class: "btn btn-danger text-light opacity-100 text-white" %>
      </div>
    </div>
  <% end %>
<% else %>
  <h1>No  Checkins Yet.</h1>
<% end %>


